.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
    padding: 12px;
    border-radius: 8px;

    background-color: $background-second-color;
    cursor: pointer;

    &__meta {
        display: flex;
        padding: 10px;
    }

    &__element {
        margin: 0 5px;

        font-size: 10px;
        line-height: 140%;
        font-weight: 500;
        color: $text-third-color;

        &--new {
            padding: 3px 3px 7px 3px;
            width: 40px;
            height: 20px;
            border-radius: 4px;
            
            font-weight: 600;
            font-size: 10px;
            line-height: 140%;
            text-transform: uppercase;
            color: $background-third-color;
            background-color: $text-second-color;
        }
    }

    &__title {
        font-size: 12px;
        line-height: 150%;
        font-weight: 500;
        color: $text-first-color;

        &--new {
            font-weight: 700;
            color: $text-second-color;
        }
    }

    &__short-content {
        font-weight: 500;
        font-size: 10px;
        line-height: 140%;
        color: $text-third-color;
        text-align: justify;
    }
}
