$text-first-color: #242325;
$text-second-color: #0165ff;
$text-third-color: #6b778c;

$background-first-color: #f4f5f7;
$background-second-color: #fff;
$background-third-color: #eaf2fe;

$special-color: #aeb5c1;